$table-height: 150px;
$config-height: $table-height * 2 + 22;
$raw-height: $table-height * 2 + 119;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app {
  background-color: #35818F;
}

.custom {
  margin: 50px;
}

.json-key {
  color: #cc4f22;
}

.json-string {
  color: #4286f4;
}

.json-bool {
  color: rgba(0,155,0,1);
}

.json-val {
  color: #eb42f4;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.location {
  float: right;
}

.labelmenu {
  overflow-y: auto;
  overflow-x: visible;
  overflow-wrap: break-word;
  max-height: $table-height;
}

.view {
  overflow-y: auto;
  max-height: $config-height;
}

.raw {
  overflow-y: auto;
  max-height: $raw-height;
}

pre {
  white-space: pre-wrap;
}

.app-appear {
  opacity: 0.01;

  &-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}

.app-enter {
  opacity: 0.01;

  &-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
}

.app-leave {
  opacity: 1;

  &-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }
}
