.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app {
  background-color: #35818F;
}

.custom {
  margin: 50px;
}

.view {
  overflow-y: auto;
}

pre {
  white-space: pre-wrap;
}

.app-appear {
  opacity: 0.01;

  &-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}

.app-enter {
  opacity: 0.01;

  &-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
}

.app-leave {
  opacity: 1;

  &-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }
}
